

  
<div class="hero-body first-hero">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">

        <h1 class="title is-2 is-bold is-spaced">
          SEO (Search Engine Optimization)
        </h1>
        <h2 class="subtitle is-5 is-muted">

        </h2>
        <p>My name is David Mendes and I have worked as a professional web developer over the past eight years. I am based in an inner suburb of Brisbane, QLD, Australia where I live with my family.</p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="/images/seo.png" alt="SEO">
        </figure>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="container">
          <div class="columns">
            <div id="index-home" class="column is-10">
              <p class="subtitle is-5 is-muted">My background includes an extensive experience in programming both front and back end design. More recently, I have been using Javascript and Golang programming languages and spinning up web servers.</p> <p class="subtitle is-5 is-muted">Furthermore, I have expert knowledge in databases such as MongoDB and SQL (Structured Query Language). I have worked extensively optimizing websites for best performance and search ranking.</p>
              <p class="subtitle is-5 is-bolder">The aim of Search Engine Optimization (SEO) is to improve Google search ranking which is essential to the success of any business. In my opinion, you cannot consider SEO without including Google. Over the years, I have learned that back-linking is the most important factor in improving your Google ranking (Back-linking is where another website has a link to your business website.)</p>
              <p class="subtitle is-5 is-muted">These days, companies are required to be on the front page of search engines (Google), or have less than a 5% chance of sourcing business through the web.</p>
              <p class="subtitle is-5 is-muted">In an article by Barry Schwartz (SEO Specialist) “Now We know: Here are Google’s top 3 search ranking factors”, Schwartz highlights the importance of back linking. He says, Google’s Andrey Lipattsev reveals that: Back-links, Content and <a href="https://moz.com/learn/seo/google-rankbrain">RankBrain</a> are the top three ranking signals in Google’s search algorithm.</p>
              <p class="subtitle is-5 is-muted">It has been well established that Google attributes RankBrain as the third most important ranking factor. However, Google refused to say what the first two ranking factors were. In a Q&A session with Google, Andrey Lipattsev, a Search Quality Senior Strategist at Google, said the other two factors were; back-links and content.</p>
              <p class="subtitle is-5 is-muted">There are countless articles to support this argument <a href="https://urldefense.proofpoint.com/v2/url?u=https-3A__www.improvemysearchranking.com_googles-2Dtop-2D3-2Dsearch-2Dengine-2Dranking-2Dfactors-2Drevealed_&d=DwIFaQ&c=HewDBbpecYK86KWBb8Fx0DnzxvObmqf6JAhppYEfnqk&r=Y6E1a0ucn7gWLzLHyBmukpDp7Pcc_jBgUcuSkDPGUYM&m=JndNWSoAR2B3umQ4RSM_GNbFpfAIAXfw29DyCrWkpw&s=a479VE2qYzyIqNdyX2epaCkHn4oDHUu_mBBmxRpcUs0&e=">such as this article.</a></p>
              <p class="subtitle is-5 is-muted">In my research most articles conclude: content, back-links, freshness, mobile first, page speed, schema code, domain and HTTPS rank in the top categories.</p>
              <p class="subtitle is-5 is-bolder">In light of all this evidence, I'm pleased to offer an exclusive SEO package that produces a new website every week for your business.</p>

              <p class="subtitle is-5 is-muted">These websites will include:</p>
              <p class="subtitle is-5 is-list">Search Engine Optimization including: a site map, Schema Code, and all HTML configured for optimization</p>
              <p class="subtitle is-5 is-list">Indexed and Registered with Google and include a Google tracking code which will monitor traffic going to your site</p>
              <p class="subtitle is-5 is-list">Owned by your business</p>
              <p class="subtitle is-5 is-list">Provide back-linking to your main business website</p>
              <p class="subtitle is-5 is-list">A unique Domain name of your choice</p>
              <p class="subtitle is-5 is-list">Will be secure with HTTPS</p>
              <p class="subtitle is-5 is-list">Will be designed for Mobile Phone viewing</p>
              <p class="subtitle is-5 is-list">Distributed across a CDN - Content Delivery Network across 12 edge sites globally, this will allow for redundancy and maximum page speed loading</p>
              <p class="subtitle is-5 is-list">No ongoing server fees</p>
              <p class="subtitle is-5 is-list">Each site will be a CMS - Content Management System, allowing for editing and the creation of future content as required</p>
              <p class="subtitle is-5 is-best">These measures will ensure that your Google ranking will improve. I look forward to helping your business expand exponentially.</p>
              <p class="subtitle is-5 is-muted">Please contact David on 0405 472 502 for more information.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-form" class="section section-light-grey is-medium">

<section class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">You&#39;re here because you want the best in SEO</h1>
        <h3 class="subtitle is-5 is-muted">And we know it</h3>
        <div class="divider"></div>
      </div>

    </div>
  </div>
</section>


