{{/* {{here we define main in a list}} */}}
{{ define "main" }}

  <section class="section single-page">
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-10">
            <div class="media">
              <div class="media-content">
                
                {{ $e := where .Site.RegularPages "Type" "branch" }}
                {{ $p := where .Data.Pages.ByDate.Reverse "Type" "branch" }}

                
                {{ range $p }}
                <h1 class="card__header__title">
                  <a href="{{ .Permalink }}" class="card__header__link" alt="{{ .Title }}.">
                  {{ .Title }}
                  </a>
                </h1>
                {{ .Content | truncate 280 }}
                </br>
                {{ end }}


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

{{ end }}
