{{/* {{here we define main in a list}} */}}
{{ define "main" }}
<section class="section single-page">
  <div class="container has-text-centered">

    <div class="columns is-centered has-text-left">
      <div class="column is-9">
        <div class="content">
          {{ if .Description }}
          <h3 class="sub-title">{{ .Description }}</h3>
          {{ end }}
          {{ .Content }}
        </div>
      </div>
    </div>
    
    {{ if .Params.theme }}
    <div class="columns is-centered is-multiline">
      {{ range .Params.theme_examples }}

          <div class="column is-4 has-text-centre">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="/{{ .image }}" alt="{{ .alt }}">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  {{ .branch }}
                  <br/>
                  {{ range .text }}
                    <a href="{{ .url }}">{{ .title }}</a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
      {{ end }}
    </div>
    {{ end }}





      </div>
    </div>
  </div>
</section>

{{ end }}