<section class="section">
  <div class="container">

    <div class="columns is-centered">
      <div class="column is-9">
        <div class="media">
          <div class="media-content">
            <h1 class="card__header__title">
              <a href="{{ .Permalink }}" class="card__header__link" alt="{{ .Title }}.">
              {{ .Title }}
              </a>
            </h1>

            {{ .Content | truncate 280 }}
            {{ .Render "tags" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>