{{/* {{here we define main in a list}} */}}
{{ define "main" }}
<section class="section single-page">
  <div class="container has-text-centered">


    <h2 class="title">{{ .Title }}</h2>


    <div class="columns is-centered has-text-left">
      <div class="column is-8">
        <div class="content">
          
        {{ if .Description }}
        <p class="subtitle">{{ .Description }}</p>
        {{ end }}
        {{ .Content }}
        {{ .Render "tags" }}
        --
        {{ partial "social.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
